.desktop {
  display: block;
}

.mobile {
  display: none;
}

.homepageContainer {
  height: 2250px;
}

/* .trupulsePage-container{
    height: 2100px;
} */

.homeBluebox {
  background: #423eb6;
  width: 100%;
  border-radius: 30px;
  padding: 2rem;
  margin:0 1rem;
  margin-bottom: 4rem;
}

@media screen and (max-width: 1080px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .homepage-container {
    height: 2650px;
  }

  .home-bluebox {
    padding: 0;
    width: 95%;
  }
}
@media screen and (max-width: 580px) {
  .homepage-container {
    height: 3500px;
  }
}
