p{
    /* font-size: 1rem; */
    color:black;
}
.ql-snow .ql-picker.ql-size .ql-picker-label::before, .ql-snow .ql-picker.ql-size .ql-picker-item::before {
    content: attr(data-value) !important;
}