.blog_content {
  margin: 2rem;
}

.blog_content p {
  margin: 0 auto !important;
  color: #002966 !important;
}

.blog_content p span {
  margin: 0 auto !important;
  color: #002966 !important;
}

.blog_content p strong {
  margin: 0 auto !important;
  color: #002966 !important;
}

.blog_content h1 strong {
   margin: 0 auto !important;
  color: #002966 !important;
  font-size: 24px !important;
  font-weight: bold !important;
}
.blog_content h2 strong {
   margin: 0 auto !important;
  color: #002966 !important;
  font-size: 24px !important;
  font-weight: bold !important;
}

.blog_content h3 strong {
   margin: 0 auto !important;
  color: #002966 !important;
  font-size: 24px !important;
  font-weight: bold !important;
}

.blog_content h4 strong {
  margin: 0 auto !important;
  color: #002966 !important;
  font-size: 24px !important;
  font-weight: bold !important;
}

.blog_content h5 strong {
   margin: 0 auto !important;
  color: #002966 !important;
  font-size: 24px !important;
  font-weight: bold !important;
}

.blog_content h6 strong {
   margin: 0 auto !important;
  color: #002966 !important;
  font-size: 24px !important;
  font-weight: bold !important;
}

.blog_content h1 {
  margin-bottom: 0;
}

.blog_content h2 {
  margin-bottom: 0;
  font-size: 25px;
}

.blog_content p img {
  max-width: 80%;
  margin: 0 4rem;
}

.strng {
  color: #000;
  font-family: "Poppins Bold";
  font-weight: bold;
}
