@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap");
@font-face {
  font-family: "Poppins Light";
  src: url("/fonts/Poppins-Light.ttf") format("truetype");
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Inter Light";
  src: url("/fonts/Inter-Light.ttf") format("truetype");
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Poppins Bold";
  src: url("/fonts/Poppins-Bold.ttf") format("truetype");
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Inter Bold";
  src: url("/fonts/Inter-Bold.ttf") format("truetype");
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Poppins SemiBold";
  src: url("/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Inter SemiBold";
  src: url("/fonts/Inter-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-display: fallback;
}

.desktop {
  display: block;
}
.mobile {
  display: none;
  position: relative;
  top: 30px;
}
@media screen and (max-width: 1080px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }
}

.ql-snow .ql-picker.ql-size .ql-picker-label::before,
.ql-snow .ql-picker.ql-size .ql-picker-item::before {
  content: attr(data-value) !important;
}
