
.desktop{
  display: block;
}
.mobile{
  display: none;
  position: relative;
  top: 30px;
}
@media screen and (max-width: 1080px) {
  .desktop{
    display: none;
  }
 
  .mobile {
    display: block;
  }
}